<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	   xsi:schemaLocation="http://www.springframework.org/schema/rabbit
           http://www.springframework.org/schema/rabbit/spring-rabbit.xsd
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">


<!--/////////////////一个快速启动rabbitmq服务的例子///////////////////////////////////////// -->
	<rabbit:connection-factory id="connectionFactory" host="localhost" port="5672" username="guest" password="guest"  />

	<rabbit:template id="rabbitTemplate" connection-factory="connectionFactory" />

	<rabbit:admin id="admin" connection-factory="connectionFactory" />

	<!--不配置name的话，会报错-->
	<rabbit:queue id="myQueue" name="myQueue" />

	<rabbit:direct-exchange id="myExchange" name="myExchange"  >
		<!--把queue配置到Exchange当中-->
		<rabbit:bindings>
			<rabbit:binding queue="myQueue" key="myQueue"/>
		</rabbit:bindings>
	</rabbit:direct-exchange>



</beans>
